fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-google-genai
boto3
pypdf
faiss-cpu
tiktoken
jinja2
python-dotenv
python-docx
Pillow
pytesseract
SQLAlchemy
mysql-connector-python
